---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <Header text="About Me" />
    <body>
      <p>
        I am a software developer who is constantly curious about the current state of technology.
      </p>
      <p>
        I originally studied Aerospace Engineering at Georgia Tech in Atlanta, Georgia (USA) but
        eventually discovered that my passion lies with understanding how software works and with
        creating it myself.
      </p>
      <p>
        Since I made the switch to professional software development in 2016 I have had a career
        spanning multiple industries, technologies and company cultures.
      </p>
    </body>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
